{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <header>
        <img src="{{ asset('images/background/tory-bishop-QzH-UGjKN8g-unsplash.jpg') }}" alt="car repair" class="header-img">
        <div class="centered-text">
            <h2 class="header-title">Garage automobile</h2>
            <ul class="header-list">
                <li>Réparation</li>
                <li>Entretien</li>
                <li>Voitures d'ocassion</li>
            </ul>

        </div>
    </header>
    <main>
        <section class="services-container">
            <h3>Nos services</h3>
            <div>
                        <img src="{{ asset('images/services/christian-buehner-Fd6osyVbtG4-unsplash.jpg') }}" alt="car repair" class="service-img">
                                <img src="{{ asset('images/background/christian-buehner-Fd6osyVbtG4-unsplash.jpg') }}" alt="car repair" class="service-img">
            </div>
        </section>
    </main>
{% endblock %}

