/* Container */
.ad-container {
    display:grid;
    grid-template-columns: 1fr;
}

/* Media queries */
@media screen and (min-width : 1024px) {
    .ad-container {
        grid-template-columns: 0.2fr 1fr;
    }
}