
/* Button */

.yellow-btn {
    color:rgb(173, 114, 18);
    border: 2px solid rgb(173, 114, 18);
    background: white;
}

.yellow-btn:hover {
    background:rgba(173, 114, 18, 0.202);
}

.yellow-btn a {
    color:rgb(173, 114, 18);
}
