footer {
    background: black;
    margin-top: 50px;
    padding: 30px;
    font-size: 0.7em;
    letter-spacing: 1px;
}

.letter-spacing {
    letter-spacing: 3px;
}

.socials, .opening-hours {
    display:flex;
    justify-content: center;
}

.socials {
    width: 3em;
    height: 3em;
}

.logo-footer {
    width: 100px;
    height: 100px;
}

/* adress */
.info-footer {
    margin:0px;
}

@media (max-height: 320px){
    .socials-text {
        display:none;
    }
}