/* Body */
body {
    overflow-x: hidden;
    font-family: 'Noto Sans', sans-serif;
}

/* Navigation */

nav {
    background: black;
    position: absolute;
}

.nav-link {
    color: #fff;
}

.nav-link:hover {
    color: #FFDE59;
}

.logo-img {
    width: 50px;
}

/* Header */
header {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.discount{
    background-color: #3e17e8;
    padding:8px;
}

.header-container {
    font-family: 'Lato', sans-serif;
    position: relative;
    color:rgb(255, 255, 255);
    z-index: 2;
}

.header-img{
    width: 100vw;
    filter:brightness(80%);
}


/* Section Services */
.section-title{
    font-family: 'Hind Siliguri', sans-serif;
}

.text-blue {
    color:#1e0784;
}

.text-orange {
    color:rgb(222, 90, 19);
}

.btn-service {
    color:#1e0784;
    border:2px solid #1e0784;
}

.btn-service:hover {
    background:#1e0784;
    color: #fff;
}

/* Section Used Car */
.used-car-container {
    margin-top: 50px;
}

.btn-car {
    color:rgb(222, 90, 19);
    border:2px solid rgb(222, 90, 19);
}

.btn-car:hover {
    background:rgb(222, 90, 19);
    color: #fff;
}


/* Footer */
footer {
    background: black;
    margin-top: 50px;
    padding: 30px;
}
.socials, .opening-hours {
    display:flex;
    justify-content: center;
}

.logo-footer {
    width: 200px;
}

/* Media queries */
@media (max-height: 480px){
    .logo-container {
        position: absolute;
        left: 50%;
    }

    .card {
    margin: 10px;
    }
}

@media (max-height: 320px){
    .header-text {
        display:none;
    }

    .header-img {
        position: relative;
    }

    .socials-text {
        display:none;
    }
}


@media (min-height: 320px){
    .header-container {
        position: absolute;
    }

    header {
        flex-direction: row;
    }
}

