/* Body */
body {
    overflow-x: hidden;
    font-family: 'Noto Sans', sans-serif;
}

/* Header */
header {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.discount{
    background-color: #3e17e8;
    padding:8px;
}

.header-container {
    font-family: 'Lato', sans-serif;
    position: relative;
    color:rgb(255, 255, 255);
    z-index: 2;
}

.header-img{
    width: 100vw;
    filter:brightness(80%);
}

/* Section Services */
.section-title{
    font-family: 'Hind Siliguri', sans-serif;
}

.text-blue {
    color:rgb(46, 18, 173);
}

.btn-hover {
    color: #3e17e8;
    border: 1px solid rgb(114, 87, 233);
}

.btn-hover:hover {
    background:rgb(114, 87, 233);
    border: 0px;
    color: #fff;
}

/* Section Used Car */
.used-car-container {
    margin-top: 50px;
}

/* Media queries */
@media (max-height: 480px){
.card {
    margin: 10px;
    }
}

@media (max-height: 320px){
    .header-text {
        display:none;
    }

    .header-img {
        position: relative;
    }
}

@media (min-height: 320px){
    .header-container {
        position: absolute;
    }

    header {
        flex-direction: row;
    }
}

