/* Body */
body {
    overflow-x: hidden;
}

/* Navigation */
nav {
    background: black;
    position: absolute;
}

.nav-link {
    color: #fff;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
}

.nav-link:hover {
    color: rgb(225, 210, 48);
    border-bottom: 2px solid  rgb(225, 210, 48);
    padding-bottom: 0px;
}

/* Header page */
header {
    display: flex;
    justify-content: center;
}

.discount{
    background-color: #3e17e8;
    padding:8px;
}

.header-title {
    font-family: 'Lato', sans-serif;
    position: absolute;
    color:rgb(255, 255, 255);
    z-index: 2;
}


.header-img{
    width: 100vw;
    filter:brightness(80%);
}

.logo-img {
    width: 50px;
}

/* Section Services */
.services-container {
    margin-top: 40px;
    display:grid;
    grid-template-columns: 1fr 1fr;
}

.text-blue {
    color:#1e0784;
}

.btn-service {
    color:#1e0784;
    border:2px solid #3e17e8;
}
