/* Navigation */

nav {
    background: black;
    position: absolute;
    overflow: hidden;
}

.nav-link {
    color: #fff;
    font-size: 1em;
    letter-spacing: 1px;
    margin: 5px;
    padding:10px;
}

.nav-link:hover {
    color:rgb(173, 114, 18);
    letter-spacing: 2px;
    transition: 0.5s;
}

.logo-img {
    width: 70px;
}

.logo-container {
    position: absolute;
    left: 50%;
}


