/* Navigation */

nav {
    background: black;
    position: absolute;
    overflow: hidden;
}

.nav-link {
    color: #fff;
    font-size: 1em;
    letter-spacing: 1px;
}

.nav-link:hover {
    color:rgb(173, 114, 18);
    letter-spacing: 2px;
    transition: 0.5s;
}

.logo-img {
    width: 70px;
}

.logo-container {
    position: absolute;
}

@media screen and (max-width: 1000px){
    .logo-container{
        right: 20px;
    }
}

@media screen and (min-width: 1000px){
    .logo-container{
        left: 50%;
    }
}