<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <img src="{{ asset('images/logo/logo.png') }}" alt="logo" class="logo-img">
            </div>
             <div class="col">
                <img src="{{ asset('images/logo/instagram.svg') }}" alt="logo instagram" class="socials">
                <img src="{{ asset('images/logo/twitter.svg') }}" alt="logo twitter" class="socials">
                <img src="{{ asset('images/logo/facebook.svg') }}" alt="logo facebook" class="socials">
            </div>
            <div class="col">
                Horaires d'ouverture
                <ul>
                    <li>lun.: 8:45-12:00, 14:00-18:00</li>
                    <li>mar.: 8:45-12:00, 14:00-18:00</li>
                    <li>mer.: 8:45-12:00, 14:00-18:00</li>       
                    <li>jeu.: 8:45-12:00, 14:00-18:00</li>
                    <li>ver.: 8:45-12:00, 14:00-18:00</li>
                    <li>sam.: 8:45-12:00, 14:00-18:00</li>
                    <li>dim.: Fermé</li>                    
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="text-center">
                Nous contacter
            </div>
        </div>
    </div>
</footer>