<footer>
    <div class="container-fluid">
        <div class="row">
        {# Logo #}
            <div class="col-lg-4 col-sm-12 d-flex justify-content-center">
                <img src="{{ asset('images/logo/logo.png') }}" alt="logo" class="logo-footer">
            </div>
        {# Opening hours #}
            <div class="col-lg-4 col-md-12 text-white opening-hours">
                <ul class="list-unstyled">
                    <li>Horaires d'ouverture</li>
                    <li>lun.: 8:45-12:00, 14:00-18:00</li>
                    <li>mar.: 8:45-12:00, 14:00-18:00</li>
                    <li>mer.: 8:45-12:00, 14:00-18:00</li>       
                    <li>jeu.: 8:45-12:00, 14:00-18:00</li>
                    <li>ver.: 8:45-12:00, 14:00-18:00</li>
                    <li>sam.: 8:45-12:00, 14:00-18:00</li>
                    <li>dim.: Fermé</li>                    
                </ul>
            </div>
        
        {# Socials #}
            <div class="col-lg-4 col-md-12 d-flex flex-column justify-content-center align-items-center">
                <p class="text-center text-white socials-text">Suivez-nous sur les réseaux !</p>
                <div class="socials">
                    <img class="m-2" src="{{ asset('images/logo/instagram.svg') }}" alt="logo instagram">
                    <img class="m-2" src="{{ asset('images/logo/twitter.svg') }}" alt="logo twitter">
                    <img class="m-2" src="{{ asset('images/logo/facebook.svg') }}" alt="logo facebook">
                </div>
            </div>
        </div>
    </div>
</footer>