<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col d-flex justify-content-start align-items-center">
                <img src="{{ asset('images/logo/logo.png') }}" alt="logo" class="logo-footer">
            </div>
            <div class="col d-flex flex-column justify-content-center align-items-center">
                <p class="text-center text-white">Suivez-nous sur les réseaux !</p>
                <div class="socials">
                    <img  class="m-2" src="{{ asset('images/logo/instagram.svg') }}" alt="logo instagram">
                    <img class="m-2" src="{{ asset('images/logo/twitter.svg') }}" alt="logo twitter">
                    <img class="m-2" src="{{ asset('images/logo/facebook.svg') }}" alt="logo facebook">
                </div>
            </div>
            <div class="col text-white opening-hours">

                <ul>
                    <li>Horaires d'ouverture</li>
                    <li>lun.: 8:45-12:00, 14:00-18:00</li>
                    <li>mar.: 8:45-12:00, 14:00-18:00</li>
                    <li>mer.: 8:45-12:00, 14:00-18:00</li>       
                    <li>jeu.: 8:45-12:00, 14:00-18:00</li>
                    <li>ver.: 8:45-12:00, 14:00-18:00</li>
                    <li>sam.: 8:45-12:00, 14:00-18:00</li>
                    <li>dim.: Fermé</li>                    
                </ul>
            </div>
        </div>
    </div>
</footer>