{% if annSpeciales %}
    <div class="discount text-center m-0 text-white small-font">
        <ul class="m-0 neg-padding">
            {% for annSpeciale in annSpeciales %}
                {% if annSpeciale.isPublished %}
                    <li class="list-unstyled"> {{ annSpeciale.text }} </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endif %}
